/* GLOBAL STYLES */

:root{
    --main-background:hsl(0, 0%, 8%);
    --grey-background:hsl(0, 0%, 14%);
    --bright-green:hsl(153, 71%, 59%);
    --text-color:hsl(0, 0%, 100%);
    --text-color-grey:hsl(0, 0%, 85%);
    --error:hsl(7, 100%, 68%);
    --transition:450ms ease-in;
}


html {
  box-sizing: border-box;
  max-width: 100%;
  overflow-x: hidden;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body{
  background-color: var(--main-background);
  font-family: 'Space Grotesk';
  position: relative;
  margin:0;
}

header{
  /* border : 5px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

header .logo{
  color:var(--text-color);
  padding:1rem;
  font-size: 2rem;
  font-weight: bold;
  z-index: 999;
}

a:hover{
  cursor: pointer;
}

header .nav-n-logo nav{
  display: flex;
  gap:1rem;
  align-items: center;
  z-index: 999;
  margin-right: 1rem;
  
}

header .hero__container{
  /* border: 5px solid white;  */
  height:25rem;
  width:13rem;
  position: relative;
  top:-9rem;
}

header .hero__container img{
  height: 100%;
  width: 100%;
}
header .hero__container .heading{
  font-size: 2.5rem;
  color:var(--text-color);
  text-align: center;
  line-height: 1;
  position: relative;
  /* border:2px solid white; */
  width: 160%;
  right:4rem;
  margin-top: 0.4rem;
}
header .hero__container .heading span{
  text-decoration: underline var(--bright-green);

}



header .hero__container .description{
  position: relative;
  width: 170%;
  font-size: 1.2rem;
  text-align: center;
  color: white;
  /* border:2px solid white; */
  right:4.5rem;
  
}


.hero__container .contact{
  position: relative;
  right:0.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  margin-top: 1rem;
  font-size: 1.6rem;
  background: transparent;
  color: var(--text-color);
  border: none;
  text-decoration: underline solid var(--bright-green);
  text-underline-offset: 8px;
}
.hero__container .contact:hover{
  color: var(--bright-green); 
  cursor: pointer;
}

.projects .section-title .contact:hover{
  color:var(--bright-green);
  cursor:pointer;
}
header .circle{
  position: absolute;
  top:17rem;
  right:-14rem;
}

header .rings{
  position: absolute;
  left:-27rem;
  z-index: -10;
  top:7rem;

}

nav{
  padding:1rem;
}

.tablet-hero-image{
  display: none;
}
.desktop-hero-image{
  display: none;

}

.skills{}
.projects{

  color:white;
  display: flex;
  flex-direction: column;
  width: 100%;
  /* border:1px solid white; */
  padding:2rem;
}

.projects .section-title{
  display: flex;
  /* border:1px solid white; */
  width:100%;

  justify-content: space-between;
}
.projects .section-title button{
  align-self: center;
  font-size: 1.5rem;
  text-transform: uppercase;
  font-weight: bold;
  background: transparent;
  color:white;
  text-decoration:underline var(--bright-green) 2px;
  text-underline-offset: 8px;
  border:none;
}


.projects h3 {
  font-size: 2.7rem;
}

.project-container{
  width:100%;
  text-transform: uppercase;
  /* border:1px solid white; */
}
.project-container img{
  width: 100%;
}
.project-container .project-details{
  /* background-color: brown; */
  display: flex;
  flex-direction: column;
}
.project-container .project-details h4{
  /* color : blue; */
  /* border: 1px solid white; */
}

.project-container .project-details .technology-used{
  color:var(--text-color-grey);
  /* border: 1px solid white; */
  margin-top: 0;

}
.view-options{
  /* border: 2px solid white; */
  /* padding-top:1rem; */
  margin-top: 1rem;
  display: flex;
  gap:2rem;
}
.project-container .project-details .view-options a{
  display: inline-block;
  color:var(--text-color);
  text-decoration: underline var(--bright-green) 2px;
  
  text-underline-offset: 8px;
  padding:1rem 0;
  
  /* margin-top: 2rem; */
  color:var(--text-color);
  letter-spacing: 2px;
  /* border: 1px solid white; */
}
.project-container .project-details .view-options a:hover{
  color:var(--bright-green);

}


/* media queries for tablet */

@media (min-width:576px){
/* hero section */
  .mobile-hero-image{
    display: none;
  }
  .desktop-hero-image{
    display: none;
    
  }
  .tablet-hero-image{
    display: block !important;
    grid-row: 1/4;
    grid-column: 2/3;
  }
  .nav-n-logo{
    display: flex;
    /* border: 2px solid white; */
    width: 100%;
    justify-content: space-between;


  }

  

  .hero__container {
    display: grid;
    width: 100% !important;
    height:100% !important;
    grid-template-columns: 0.75fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    top:0 !important;
    right:0rem !important;
    margin-left: 10% !important;
    margin-top: 8rem !important;
    row-gap: 0;
    column-gap: 0 !important;
    /* border: 3px solid wheat; */
    /* padding-left: 1rem; */
    
  }
  header{
    z-index: 999;
  }

  .logo{
    margin-left: 3.5%;
  }
  .hero__container img{
    align-self: flex-start;
    /* border:2px solid salmon; */
    position: relative;
    grid-row:1/5 !important;
    top:-13rem;
    height: 150% !important;
    right:1.3rem;

  }
  .hero__container .description{
    font-size: 1.2rem;
    justify-self: left;
    max-width: 79%;
    left:0rem;
    height: 80%;
    align-self: flex-end;
    text-align: left !important;
    margin-top: 0 !important;

    
  }
  
  .hero__container .contact{
    align-self: flex-end;
    /* background-color: red; */
    display: inline-block;
    justify-self: left;
    font-size: 1.1rem !important;
    margin-top: 7.5rem !important;

    
  }
  
  .hero__container .heading{
    max-width: 100%;
    height: 70%;
    align-self: flex-start;
    position: relative;
    right: 0rem !important;


    font-size: 3rem !important;
    letter-spacing: 1.5px;
    text-align: start !important;
    margin-top: 0rem !important;
  }

  /* media queries for skills section */

  .skills{
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-between !important;
    /* gap:0.7rem; */
    /* background-color: aqua; */
    /* border: 1px solid white; */

  }

  .skill{
    width:48% !important;
  }

  .technology{
    align-self: flex-start;
    font-size: 2rem;
    margin-top: 0rem;
  }

  .duration{
    padding-left:0 !important;
    text-align: left !important;
    font-size: 0.8rem !important;
    color:var(--text-color-grey);
  }

  /* projects container */

  .projects{
    flex-wrap: wrap;
    flex-direction: row;
    gap:1rem;
    align-items: center;
    justify-content: center;
    padding:0 1rem;

  }

  .projects .section-title{
    /* background-color: red; */
    padding:0 2rem !important;
    justify-content: space-between !important;
  }

  .projects .section-title h3{
    font-size: 3.3rem;
  }

  .project-container{
    width:90%;
  }

  /* media queries for contact section */



  /* reduce margin top for main tag */

  main {
    margin-top: 3rem !important;
  }

  /* footer media queries */

  footer{
    width:100%;
    /* border: 1px solid white; */
  }
  
  footer .nav-n-logo{
    /* border: 1px solid white !important; */
    flex-direction: row;
    
    justify-content: space-between !important;
    width: 100% !important;
    /* background-color: brown; */
    
  }

  footer .nav-n-logo nav{
    /* background-color: pink; */
    margin-right: 0 !important;
    
  }

  header .nav-n-logo .logo{
   margin-left: 1.4rem !important;
  }

  .logo{
    margin:0;
    padding:0;
    /* border: 1px solid white; */

  }

  .hero__container .contact{
    /* border:  1px solid wheat; */
    font-size: 2rem;
    align-self: flex-start;
    margin-top: 0 !important;
    text-decoration: underline 3px solid var(--bright-green);
    text-underline-offset: 1rem;
  }
}

@media (min-width:768px){

  .tablet-hero-image{
    display: none !important;
  }
  
  .desktop-hero-image{
    
    display: block !important;
    /* border:4px solid red */
  }
  .hero__container{
    grid-template-columns: 1fr 0.75fr;
    grid-template-rows: 0.5fr 0.5fr 0.75fr;
    margin-left:5rem !important;
    margin-top: 4rem !important;



  }

  .hero__container img{
    right:3rem;
    top:-8.5rem !important;
    grid-column: 2/3;
    height : 110% !important;
  }

  .hero__container .heading{
    margin-top: 4rem;
    font-size: 3.6rem !important;
    /* border: 1px solid wheat; */
  }

  .hero__container .contact{
    font-size: 1.5rem;
    align-self: flex-start;
    text-decoration: underline 3px solid var(--bright-green);
    text-underline-offset: 1rem;

  }

  .hero__container .description{
    max-width: 80%;
    font-size: 1.4rem;

  }

  .hero__container .description{
    align-self: center;
  }

  /* media queries for skills section */

  .skills{
    padding: 0 3rem !important;
    justify-content: space-between !important;
    gap:1rem;

    /* background-color: orange; */
  }

  .skill{
    width: 30% !important;
  }

  .skill .technology{
    font-size: 2.4rem;

  }

  .skill .duration{
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color-grey);
    letter-spacing: 0.8px;
  }

  .projects{
    padding:0 2rem;
  }
  
  .projects .section-title{
    padding:0rem !important;
  }
  

  .project-container{
    width: 48% !important;
  }

  .projects .section-title h3{
    font-size: 3.9rem;
    margin-left: 1.4rem;
  }
  .projects .section-title button{
    font-size: 1.5rem;
    text-underline-offset: 1rem;
    margin-right: 1.4rem;
  }

  /* media queries for contact section */

  .contact-section{
    /* background-color: red !important; */
    grid-template-columns: 1fr 0.25fr 1fr !important;
    padding:0 3.5% !important;
  }

  .contact-section .section-title{
    width: 100%;
    /* border: 3px solid white; */
    
  }
  .contact-section .section-title h2{
    margin-top: 7rem;
  }
  .contact-section .section-title p{
    text-align: left !important;
    max-width: 100%;
    /* border:2px solid yellow; */
    text-align: justify !important;
  }
  
  .contact-form{
    /* border: 3px solid white; */
    grid-column: 3/4 !important;


  }

  .contact-form textarea{
    width: 100%;
  }

  .contact-form button{
    width: 100%;
    /* border: 2px solid white !important; */
    text-align: right;
    margin-right: 0 !important;

  }

  .contact-section .section-title{
    /* border : 2px solid white; */
  }
  .contact-section .section-title h2 {
    font-size: 3.5rem !important;
  }
  .contact-section .section-title p {
    line-height: 1.7;
    font-size: 1.3rem;
  }

  /* footer media queries */

  footer{
    width:100%;
    /* border: 1px solid white; */
  }
  
  footer .nav-n-logo{
    /* border: 1px solid white !important; */
    flex-direction: row;
    justify-content: space-between;
    
  }

  nav{
    margin:0 !important;
    padding: 0;
    margin-right: 3rem !important;
  }

  .logo{
    margin:0 !important;
    padding:0;
    /* border: 1px solid white; */
    margin-left: 1.8rem !important;
    
  }
}


@media (min-width:992px){

  header nav{
    margin:0 8rem !important;
    justify-content: flex-end;

  }
  .hero__container{
    grid-template-columns: 1.25fr 0.6fr;
    margin-right:12rem !important;
  }

  header .nav-n-logo .logo {

    margin-left:8rem !important;
  }
  
  .hero__container img{
    /* border: 5px solid blue; */
    top:-8rem;
  }
  .hero__container .contact{
    margin-left:12rem !important;
    align-self: flex-start;
    font-size: 2rem;
    text-decoration:underline 3px solid var(--bright-green);
    text-underline-offset: 1rem;
    
  }
  .hero__container .description{
    align-self: flex-end;
    margin-left:12rem !important;
    max-width: 40%;
    font-size: 1.4rem;
    margin-top: 4rem !important;
  }
  
  .hero__container .heading{
    max-width: 60%;
    font-size: 3.9rem !important;
    /* border: 1px solid wheat; */
    margin-top: 3rem;
    margin-left: 12rem !important;
  }

  .skills{
    padding: 0 8rem !important;
    /* background-color: pink; */
    justify-content: flex-start;
  }

  .skill{
    width: 30% !important;
  }

  .skill .technology{
    font-size: 2.4rem;

  }

  .skill .duration{
    font-size: 1.1rem;
    font-weight: 500;
    color: var(--text-color-grey);
    letter-spacing: 0.8px;
  }

  .projects{
    position: relative;
    padding:0 5rem;
  }

  .projects .section-title{
    padding:0 0rem !important;

  }


  .projects .section-title h3{
    font-size: 4.5rem;
    margin-left: 1.8rem;
    
  }

  .projects .project-container{
    position: relative;
  }
  .projects .project-container .view-options{
    position:absolute;
    display: flex;
    flex-direction: column;
    top:30%;
    align-items: center;
    right:40%;
    opacity: 0;
  }
  

  .project-container img{
    opacity: 1 !important;
    
    transition: .5s ease;
    backface-visibility: hidden;
    
  }
  .project-container img:hover{
    cursor: pointer;
  }



  .project-container:hover .view-options{
    
    opacity: 1;
  }
  .project-container:hover, .project-container img{
    opacity: 0.3;
  }

 


  
  .projects .section-title button{
    font-size: 1.8rem;
    margin-right: 2rem;
  }
  .contact-section{
    padding:0 5rem !important;
    /* border : 2px solid white; */
  }


  .contact-section .section-title{
    /* border: 1px solid white; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

 

  .contact-section .section-title h2 {
    font-size: 4.5rem !important;
    text-align: left !important;
    margin-left: 0 !important;
    /* border: 1px solid wheat; */
    /* width: 100%; */
    align-self: stretch;
    justify-self: center;
    margin-top: 6rem;
  }
  .contact-section .section-title p {
    line-height: 1.7;
    font-size: 1.3rem;
    max-width: 100% !important;
  }

  .contact-form{
    /* border: 1px solid white; */
  }
 

  /* footer media queries */

  footer{
    width:100%;
    /* border: 1px solid white; */
  }
  
  footer .nav-n-logo{
    /* border: 1px solid white !important; */
    flex-direction: row;
    justify-content: space-between;
    
  }

  footer .nav-n-logo nav{
    margin:0 !important;
    padding: 0;
    gap:1rem !important;
    margin-right: 6rem !important;
    justify-content: flex-end;
  }

  .logo{
    margin:0 !important;
    padding:0;
    margin-left: 2.9rem !important;
    /* border: 1px solid white; */
    
  }
}

@media (min-width:1440px) {

  header nav{
    margin-right: 10rem !important;
    /* border: 1px solid white; */
  }
  .hero__container{
    grid-template-columns: 1.5fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    /* border: 1px solid white; */
    column-gap: 8rem !important;

  }
  
  header .nav-n-logo .logo{
    margin-left: 15% !important;
  }
  
  .hero__container .heading{
    right:-6rem !important;
    font-size: 4rem !important;
    max-width: 50%;
    margin-top: 0;
    
  }


  .hero__container .description{
    
    margin-left: 18rem !important;
    font-size: 1.7rem;
    
  }
  .hero__container .contact{
    margin-left: 18rem !important;
    font-size: 2rem;
    text-decoration: underline solid var(--bright-green);
    text-underline-offset: 1rem;

  }
  .hero__container img{
    right: 7rem !important;
    top:-6rem;
    grid-row:1/4;
    scale: 1.2;
    /* border: 4px solid red; */
  }

  .contact-form {

  }

  footer{
    width:100%;
    /* border: 1px solid white; */
  }
  
  footer .nav-n-logo{
    /* border: 1px solid white !important; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
  }

  footer .nav-n-logo nav{
    margin:0;
    padding: 0;
    align-items: center !important;
    justify-content: center !important;
  }

  .logo{
    margin:0;
    padding:0;
    /* border: 1px solid white; */
    margin-left: 3rem !important;
    
  }

  .projects{
    padding:0 6rem;
  }

  .skills{
    /* background-color: azure; */
  }

  /* .projects .section-title{
    display: flex;
    flex-direction:  row;
  } */
}


main{
  margin:15rem auto;
  margin-bottom: 0;
  /* border: 2px solid white; */
  width: 100%;
  /* padding:2rem; */
}

.skills{
  /* border: 2px solid wheat; */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  /* padding:0 3rem !important; */
  padding:0 3rem;
  flex-wrap: wrap;
  
}

.skill{
  /* border: 2px solid bisque; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--text-color);
  width: 100%;
}

.technology{
  /* border:1px solid white; */
  font-size: 2rem;
  margin-bottom: 0;
  letter-spacing: 3px;
}

.duration{
  /* border: 1px solid white; */
  letter-spacing: 3px;
  justify-self: flex-start;
  width: 100%;
  text-align: center;
  font-size: 1rem;
  padding:1rem;
  margin-top: 0;
  font-weight: bold;
}

.contact-section{
  /* border:1px solid white; */
  display: grid;
  grid-template-columns: 1fr;
  justify-content:center;
  width: 100%;
  background-color: var(--grey-background);
  padding: 0;
  margin-top: 0;
  
}

.contact-section .section-title{
  display: flex;
  margin: 0;
  flex-direction: column;
  align-items: center;
}
.contact-section .section-title h2{
  color: var(--text-color);
  font-size: 2.5rem;
  text-align: center;
  /* border:1px solid white; */
  
}
.contact-section  .section-title p{
  /* border:1px solid white; */
  margin:0;
  color:var(--text-color);
  text-align: center;
  max-width: 75%;
  letter-spacing: 2px;
}

.contact-form{
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  padding:2rem;
  width: 100%;
  /* border: 1px solid white; */
}


.contact-form input{
  width:100%;
  text-align: left;
  height: 3rem;
  background-color: var(--grey-background);
  border:none;
  border-bottom: 3px solid var(--text-color-grey);
  font-size: 1.5rem;
  padding-top:1rem;
  padding-bottom:1rem;
  color: var(--text-color);
  margin-bottom: 1.5rem;
}

.contact-form input:focus, .contact-form textarea:focus{
  outline:none;
}

textarea{
  background-color: var(--grey-background);
  padding-left: 2rem;
  width: 100%;
  height: 30%;
  font-size: 1.5rem;
  color:var(--text-color);
  outline: none;
  border: none;
  border-bottom:2px solid var(--text-color-grey) ;
  
  
}


textarea::placeholder{
  font-size: 1.5rem;
  /* color:var(--text-color-grey); */
  text-transform: uppercase;
  letter-spacing: 3px;
}




.contact-form input::placeholder{
  padding:2rem;
  font-size: 1rem;
  letter-spacing: 2px;
  text-transform: uppercase;
  

}




.contact-form button{
  align-self:flex-end;
  /* margin-right: 2rem; */
  font-size: 1.5rem;
  color:var(--text-color);
  background-color: transparent;
  border:none;
  text-transform: uppercase;
  font-weight: bold;
  cursor: pointer;
  margin-top: 1rem;
  text-decoration: underline solid var(--bright-green);
  text-underline-offset: 0.5rem;
  
  
}
.contact-form button:hover{
  color:var(--bright-green);
}




/* form validation styles */

input.invalid{
  border-bottom : 2px solid red;
}

input.empty-field-on-load{
  border-bottom : 2px solid var(--text-color-grey);

}

input.empty-field{
  border-bottom : 2px solid goldenrod;
}





/* input:invalid:required {
  background-image: linear-gradient(to right, pink, lightgreen);
} */

input.valid{
  border-bottom: 3px solid lightgreen;
}

.error{
  color:red;
  position: relative;
  top:0.1rem;
  right:-9rem;
  font-size: 0.6rem;
}



/* footer */

footer .logo{
  color:var(--text-color);
  padding:1rem;
  font-size: 2rem;
  font-weight: bold;
  z-index: 999;
}

footer{
  /* border : 5px solid white; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
footer{
  width:100%;
  /* border: 1px solid white; */
}



footer .nav-n-logo{
  /* border: 1px solid white !important; */
  flex-direction: row;
  justify-content: space-between;
  
}

footer .nav-n-logo nav {
  align-items: center !important;
  /* justify-content: flex-end; */
  /* background-color: red; */
  display: flex;
  gap: 1rem;
  justify-content: center !important;
  /* width: 100%; */
  padding:1rem;
  margin:0 auto;
}

.logo{
  margin:0;
  padding:0;
  /* border: 1px solid white; */
  
}

.section-title{
  position: relative;
}

.section-title .rings{
  position: absolute;
  top:12rem;
  right : 70%;
}

.skills{
  position: relative;
}

.skills .rings {
  position: absolute;
  top:16rem;
  right:-21rem;
}

.overlay-div{
}